.workspace {
    width: 80vx;
    border: 2px solid #000000;
    border-radius: 5px;
    margin:20px;
    padding:20px;
    overflow:auto;
    overflow-x: auto;
    height: auto;
}


.svgContainer {
    height: auto;
    viewBox:"0 0 50 200"
}